#忽略编译产物
build
rmdb_client/build
build-*
coverage.info
coverage.filtered.info
coverage-html/
coverage.xml
diff-coverage.html
*.pdf
.DS_Store
**/.DS_Store
testdb

CLAUDE.md
#忽略测试数据库
test_e2e_db
testdb
#忽略.codegraph
.codegraph
